*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background: url('../images/skyline2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
p, a, li {
        font-family: 'Arial';
        font-size: max(2.2vh, 16px);
    }

.navbar{
    height: 60px;
    padding:0;
    margin: 0;
    width: 100%;
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c4185;
    z-index: 999;

    .nav-title{
        &:hover{
            cursor: pointer;
        }
    }

    .audio-player-nav{
        position: relative;
        left: 5%;
        display:flex;
        color: white;
        cursor: pointer;

        p{
           margin-left: .3vw; 
        }
        
    }

    h1{
        font-weight: 900;
        margin-left: 1vw;
        color: white;
    }

    span{
        color:#fb2f48;
    }

    ul{
        list-style-type: none;
        display:flex;
    }

    li:not(:last-child){
        margin-right: 1.5vw
    }

    .nav-link{
        font-size: 1.2rem;
        margin-right: 1vw;
        text-decoration: none;
        color: #fb2f48;
        outline-width: 0px;
    }

    .nav-link:active, .nav-link:focus, .nav-link:visited {
        outline: 0;
        border: none;
        -moz-outline-style: none;
        box-shadow: none;
      }

    .selected{
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 2px;
    }

}


.home-content{
    font-family: 'Playfair Display', serif;
    font-size: max(2.3vw, 23px);
    padding: 0;
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;

   

    h1{
        margin: -0.2% 0;
        font-weight: bolder;
        z-index: 2;
    }

    

    .heading-top{
        color: #fb2f48;
    }
    .heading-bot{
        color:white;
        display:flex;
        justify-content: center;
    }
    .heading-span{
            color:black;
            font-size: 1rem;
            display:block;
            -webkit-transform: rotate(-90deg); 
            -moz-transform: rotate(-90deg);
            margin-right: -1.2%;
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
    .heading-circle{
        background-color:#1c4185;
        border-radius: 50%;
        height:max(39.8vw, 398px);
        width:max(39.8vw, 398px);
        position: absolute;
        align-self: center;
        z-index: 1;
        border: 1px solid black;
    }

    .heading-circle-large{
        background-color:white;
        border-radius: 50%;
        height: max(41vw, 410px);
        width: max(41vw, 410px);
        position: absolute;
        align-self: center;
        border: 2px solid black;
    }

    .media-links{
        margin-top: 0.5%;
        z-index: 2;
        a, Link{
            color:white;
            padding:1%;
        }
    }
}

.audio-player{
    display:flex;
    align-self: center;
    color:white;
    position: relative;
    top: -50px;
    cursor: pointer;
    z-index: 2;

    p{
        margin-left: .3vw;
    }

    i{
        position: relative;
        top:4px;
    }
}

.content-container{
    height: 100vh;
    font-family: 'Playfair Display', serif;
    margin:0 auto;

    .content-card{
        width: calc(400px + 45vw);
        background-color: white;
        padding: 2%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
        top: 8%;
        height: 90%;

        h1{
        color:#fb2f48;
        font-size: max(6vw, 60px);
        align-self: start;
        }

        p{
        color:white;
        font-size: max(2.2vh, 16px);
        }

        div{
        width: 100%;
        background-color: #1c4185;
        padding: 1%; 
        overflow: hidden;
        } 

        #portfolio-card-header{
            background-color: white;
            display:flex;
            justify-content: space-between;
            align-items: center;

            #portfolio-h1{
                background-color:white;
                font-size: 2.8rem;
            }
           

            .icon-container{
                width: 11%;
                background-color:white;
                color:#1c4185;
                cursor: pointer;
                &:hover{
                        color: #2a61c6;
                        transition: ease-in-out .2s;
                    }

                i{
                    font-size: 4rem;
                    cursor: pointer;
                  
                }

                p{
                   color: #1c4185; 
                }
            }
        }
    }

    .inner-card-container{
        height: 80%;
        text-align: justify;

        #about-content{
            display:flex;
            height: 100%;

            #profile-pic{
                height: 100%;
            }

            #about-paragraphs{
                margin: 0;
                padding: 0;
                width: 82%;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                align-content: center;
                text-align: left;

                p{
                    width: 80%;
                }
            }
        }
        

        #portfolio-card-top{
            height: 60%;
            display:flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 1%;

            img{
            width: 55%;
            
            }

            ul{
                width: 35%;
                height: 100%;
                color: white;
                list-style-type: disc;
                margin-left: 15px;
                font-size: 1.2rem;
                text-align: left;

                li{
                    display:list-item;
                    margin-bottom: 12%;
                }
            }
        }

        #portfolio-card-bottom{
            margin: 2.5%;
            display:flex;

            p{ 
                font-size: max(2.2vh, 16px);
                text-align: justify;
                width: 55%;
            }

            #portfolio-links{
                display:flex;
                width: 45%;
                justify-content: space-evenly;
                align-items: center;

                i{
                    font-size: 3rem;
                }

                a{
                    display:flex;
                   flex-direction: column;
                   color:white;
                   text-decoration: none;
                   font-size: 1.4rem;
                   text-align: center;
                }
            }
        }
    }     
}

@media all and (min-width:1900px) {
    .home-content{
        font-size: 1.6vw;

        .heading-circle{
            width: max(1.8vw, 700px);
            height: max(1.8vw, 700px)
        }

        .heading-circle-large{
            width: max(1.9vw, 720px);
            height: max(1.9vw, 720px)
        }
    }         
}
