* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../images/skyline2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, a {
  font-family: "Arial";
}

.navbar {
  height: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c4185;
}

.navbar .audio-player-nav {
  position: relative;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  cursor: pointer;
}

.navbar .audio-player-nav p {
  margin-left: .3vw;
}

.navbar h1 {
  font-weight: 900;
  margin-left: 1vw;
  color: white;
}
.navbar span {
  color: #fb2f48;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar li:not(:last-child) {
  margin-right: 1.5vw;
}
.navbar .nav-link {
  font-size: 1.2rem;
  margin-right: 1vw;
  text-decoration: none;
  color: #fb2f48;
  outline-width: 0px;
}
.navbar .nav-link:active, .navbar .nav-link:focus, .navbar .nav-link:visited {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .selected {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.home-content {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.home-content h1 {
  margin: -0.2% 0;
  font-weight: bolder;
  z-index: 2;
}

.home-content .heading-top {
  color: #fb2f48;
}
.home-content .heading-bot {
  color: white;
  display: flex;
  justify-content: center;
}
.home-content .heading-span {
  color: black;
  font-size: 1rem;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  margin-right: -1.2%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.home-content .heading-circle {
  background-color: #1c4185;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  position: absolute;
  align-self: center;
  z-index: 1;
  border: 1px solid black;
}
.home-content .heading-circle-large {
  background-color: white;
  border-radius: 50%;
  height: 620px;
  width: 620px;
  position: absolute;
  align-self: center;
  border: 2px solid black;
}
.home-content .media-links {
  margin-top: 0.5%;
  z-index: 2;
}
.home-content .media-links a, .home-content .media-links Link {
  color: white;
  padding: 1%;
}

.audio-player {
  display: flex;
  align-self: center;
  color: white;
  position: relative;
  top: -50px;
  cursor: pointer;
  z-index: 2;
}
.audio-player p {
  margin-left: 0.3vw;
}
.audio-player i {
  position: relative;
  top: 4px;
}

.about-content-container {
  height: 100vh;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
}
.about-content-container .about-content {
  width: calc(400px + 30vw);
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 20%;
}
.about-content-container .about-content h1 {
  color: #fb2f48;
  font-size: 6rem;
  align-self: start;
}
.about-content-container .about-content p {
  color: white;
  font-size: 1.6rem;
}
.about-content-container .about-content div {
  width: 100%;
  background-color: #1c4185;
  padding: 1%;
  overflow: hidden;
}
.about-content-container .about-paragraph {
  text-align: justify;
}

.portfolio-container {
  height: 100vh;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
}
.portfolio-container .portfolio-card-outer {
  width: calc(400px + 30vw);
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 20%;
}
.portfolio-container .portfolio-card-outer h1 {
  color: #fb2f48;
  font-size: 6rem;
  align-self: start;
}
.portfolio-container .portfolio-card-outer p {
  color: white;
  font-size: 1.6rem;
  text-align: justify;
}
.portfolio-container .portfolio-card-outer div {
  width: 100%;
  background-color: #1c4185;
  padding: 1%;
  overflow: hidden;
}
.portfolio-container .portfolio-card-outer .portfolio-image {
  height: 400px;
}

/*# sourceMappingURL=index.css.map */
