* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../images/skyline2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, a, li {
  font-family: "Arial";
}

.navbar {
  height: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c4185;
  z-index: 999;
}
.navbar .nav-title:hover {
  cursor: pointer;
}
.navbar .audio-player-nav {
  position: relative;
  left: 5%;
  display: flex;
  color: white;
  cursor: pointer;
}
.navbar .audio-player-nav p {
  margin-left: 0.3vw;
}
.navbar h1 {
  font-weight: 900;
  margin-left: 1vw;
  color: white;
}
.navbar span {
  color: #fb2f48;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar li:not(:last-child) {
  margin-right: 1.5vw;
}
.navbar .nav-link {
  font-size: 1.2rem;
  margin-right: 1vw;
  text-decoration: none;
  color: #fb2f48;
  outline-width: 0px;
}
.navbar .nav-link:active, .navbar .nav-link:focus, .navbar .nav-link:visited {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  box-shadow: none;
}
.navbar .selected {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.home-content {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.home-content h1 {
  margin: -0.2% 0;
  font-weight: bolder;
  z-index: 2;
}
.home-content .heading-top {
  color: #fb2f48;
}
.home-content .heading-bot {
  color: white;
  display: flex;
  justify-content: center;
}
.home-content .heading-span {
  color: black;
  font-size: 1rem;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  margin-right: -1.2%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.home-content .heading-circle {
  background-color: #1c4185;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  position: absolute;
  align-self: center;
  z-index: 1;
  border: 1px solid black;
}
.home-content .heading-circle-large {
  background-color: white;
  border-radius: 50%;
  height: 620px;
  width: 620px;
  position: absolute;
  align-self: center;
  border: 2px solid black;
}
.home-content .media-links {
  margin-top: 0.5%;
  z-index: 2;
}
.home-content .media-links a, .home-content .media-links Link {
  color: white;
  padding: 1%;
}

.audio-player {
  display: flex;
  align-self: center;
  color: white;
  position: relative;
  top: -50px;
  cursor: pointer;
  z-index: 2;
}
.audio-player p {
  margin-left: 0.3vw;
}
.audio-player i {
  position: relative;
  top: 4px;
}

.content-container {
  height: 100vh;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
}
.content-container .content-card {
  width: calc(400px + 45vw);
  background-color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 8%;
  height: 90%;
}
.content-container .content-card h1 {
  color: #fb2f48;
  font-size: 6rem;
  align-self: start;
}
.content-container .content-card p {
  color: white;
  font-size: 1.6rem;
}
.content-container .content-card div {
  width: 100%;
  background-color: #1c4185;
  padding: 1%;
  overflow: hidden;
}
.content-container .content-card #portfolio-card-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container .content-card #portfolio-card-header #portfolio-h1 {
  background-color: white;
  font-size: 2.8rem;
}
.content-container .content-card #portfolio-card-header .icon-container {
  width: 11%;
  background-color: white;
  color: #1c4185;
  cursor: pointer;
}
.content-container .content-card #portfolio-card-header .icon-container:hover {
  color: #2a61c6;
  transition: ease-in-out 0.2s;
}
.content-container .content-card #portfolio-card-header .icon-container i {
  font-size: 4rem;
  cursor: pointer;
}
.content-container .content-card #portfolio-card-header .icon-container p {
  color: #1c4185;
}
.content-container .inner-card-container {
  height: 80%;
  text-align: justify;
}
.content-container .inner-card-container #about-content {
  display: flex;
  height: 100%;
}
.content-container .inner-card-container #about-content #profile-pic {
  height: 100%;
}
.content-container .inner-card-container #about-content #about-paragraphs {
  margin: 0;
  padding: 0;
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: left;
}
.content-container .inner-card-container #about-content #about-paragraphs p {
  width: 80%;
}
.content-container .inner-card-container #portfolio-card-top {
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}
.content-container .inner-card-container #portfolio-card-top img {
  width: 55%;
}
.content-container .inner-card-container #portfolio-card-top ul {
  width: 35%;
  height: 100%;
  color: white;
  list-style-type: disc;
  margin-left: 15px;
  font-size: 1.2rem;
  text-align: left;
}
.content-container .inner-card-container #portfolio-card-top ul li {
  display: list-item;
  margin-bottom: 12%;
}
.content-container .inner-card-container #portfolio-card-bottom {
  margin: 2.5%;
  display: flex;
}
.content-container .inner-card-container #portfolio-card-bottom p {
  font-size: 1.4rem;
  text-align: justify;
  width: 55%;
}
.content-container .inner-card-container #portfolio-card-bottom #portfolio-links {
  display: flex;
  width: 45%;
  justify-content: space-evenly;
  align-items: center;
}
.content-container .inner-card-container #portfolio-card-bottom #portfolio-links i {
  font-size: 3rem;
}
.content-container .inner-card-container #portfolio-card-bottom #portfolio-links a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
